body {
    text-align: center;
    background-color: thistle;
    color: blue;
}

/* Header with game title */
header main footer {
   background-color: thistle;

}

h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {

    text-align: center;
    font-size: 1.3rem;
    text-decoration: underline;
}

/* Over all game are of screen */
.game {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: thistle;
    border: 1px solid blue;
    border-radius: 3%;
}

/* Player choice, buttons area of screen */
.rps-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: thistle;
}

.button {
    background: none;
    border: 0;
    padding: 5px;
}

/* Game score section of screen */
.players {
    display: flex;
    align-items: center;
}

.left {
    width: 33.33%;
}

.logo {
    width: 33.33%;
}

.right {
    width: 33.33%;
}

.rules {
    text-align: center;
}

/* Footer section of screen */
footer {

    margin: 20px;
}

/* Media queries section to enable display of different screen sizes */
@media (max-width: 320px) {
    .game {
        height: 70vh;
    }

    .players {
        width: 75%;
        margin: 10px auto;
    }

}